/*Bron: https://www.fontspace.com/pocket-monk-font-f23540 */
@font-face {
  font-family: 'pokemon';
  src: url('../fonts/pocketmonk-15ze-webfont.woff2') format('woff2'),
       url('../fonts/pocketmonk-15ze-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

html {
  height: 100vh;

  background-image: url(../images/background-light.png);
  background-repeat:repeat-x;
  background-size:auto  100%;
  background-position: center;
}

body {
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}







/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-text: rgb(255, 230, 0);
  --color-h2: white;
  --pokedex: rgb(177, 0, 0);
  --pokedex-scherm: rgb(77, 77, 255);
  --button-focus: rgb(177, 0, 0);
  --button-dialog: rgb(177, 0, 0);
  --dialog-background: white;
  --dialog-stroke: black;
  --dialog-p: black;

  --text-stroke: 0.5px blue;
  --text-stroke-pokedex: 1px blue;
  --gif-stroke: 0.3em solid black;

  --font-h1-h2-p: 'pokemon';
  --font-dialog: 'Press Start 2P';

  --boxshadow-pokedex: 
  inset -.10em -.10em .25em rgb(102 102 102),
  inset .10em .10em .25em rgb(255 255 255),
  0.8em 0.8em 0.6em rgb(0 0 0 / .5);
  --boxshadow-pokedex-scherm:
  inset -.15em -.15em .1em rgb(51 58 64),
  inset .15em .15em .1em rgb(51 58 64);
}

@media (prefers-color-scheme: dark) {
  :root {
    --pokedex: rgb(117, 0, 0);
    --pokedex-scherm: rgb(13, 13, 177);
    --dialog-background: rgb(187, 187, 187);
  }

  html {
    height: 100vh;
  
    background-image: url(../images/background-dark.png);
    background-repeat:repeat-x;
    background-size:auto  100%;
    background-position: center;
  }
}





/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  text-align: center;
  
  font-family: var(--font-h1-h2-p);
  color:var(--color-text);

  /*Bron: https://css-tricks.com/adding-stroke-to-web-text/ */
  -webkit-text-stroke: var(--text-stroke);
}

h2 {
  text-align: center;

  font-family: var(--font-h1-h2-p);
  color:var(--color-text);
  -webkit-text-stroke: var(--text-stroke);
}





/*******************/
/* DIALOG / POP-UP */
/*******************/

/*Van de opdracht in de les https://codepen.io/shooft/pen/jOeyxev?editors=0110 */
body dialog {
	width:18em;
  height: 20em;
	padding:0;
	
	background-color: var(--dialog-background);
	border: var(--dialog-stroke) solid;
  border-radius: 1em;
}

/* translucent layer covering the page */
/* is part of the dialog element */
body dialog::backdrop {
	/* style it anyway you want */
	/* for example --> blur the info beneath the layer --> and make it a bit darker*/
  backdrop-filter: blur(0.1em) brightness(0.4);
}

body dialog form {	
	display:flex;
	flex-direction:column;
  
  height:100%;
	padding:1em;

	gap:.5em;
}

body dialog form h2 {
	margin:0;
  text-align: center;

  color: var(--color-text);
  -webkit-text-stroke: var(--text-stroke);
  font-size: 1.75em;
}

body dialog form p {
  line-height: 1.3em;

  color: var(--dialog-p);
  font-size: 0.7em;
  font-family: var(--font-dialog);
}

.start {
	padding: 0.5em;
	
  font-family: var(--font-dialog);
	font-size: 1em;
  color: var(--color-text);
  background-color: var(--pokedex-scherm);
  border: none;
}

.start:focus-visible {
  outline-color: var(--button-focus);
}





/***********/
/* POKEDEX */
/***********/

article {
  position: fixed;
  bottom: 0.7em;
  right: 0.5em;
  left: 0.5em;
  justify-content: center;
  z-index: 2;
  
  max-width: 34em;
  padding: 0.7em;
  margin: 0 auto;

  background-color: var(--pokedex);
  box-shadow: var(--boxshadow-pokedex);
}

article section {
  max-width: 30em;
  margin: 0 auto;
  justify-content: center;

  background-color: var(--pokedex-scherm);
  box-shadow: var(--boxshadow-pokedex-scherm);
}

ol {
  display: grid;
	grid-template-columns: repeat(auto-fit, 6em);
  list-style: none;
  padding: 0.3em;
  gap: 0.6em;
  overflow-y: scroll;
  height: 15em;

  justify-content: center;
}

/*Bron: https://blog.hubspot.com/website/hide-scrollbar-css#:~:text=To%20hide%20the%20scrollbar%20and%20disable%20scrolling%2C%20we%20can%20use,page)%20or%20a%20container%20element. */
ol::-webkit-scrollbar {
  display: none;
}

li {
  width: 96px;
}

li img {
  height: 6em;
}

li button img {
  height: 6em;

  animation: pokeball;
}

li p {
  margin-top: 0.2em;
  margin-bottom: 0.5em;

  text-align: center;
  font-family: var(--font-h1-h2-p);
  font-size: x-large;
  color:var(--color-text);
  -webkit-text-stroke: var(--text-stroke-pokedex);
}

li button {
  border: none;
  background-color: transparent;

  /*Uit de opdracht https://codepen.io/shooft/pen/eYKdyxY */
  outline-style: solid;
	outline-width:.125em;
	outline-offset: .25em;
	/* de outline is er altijd */
	/* maar standaard doorzichtig */
	outline-color: transparent;
}

li button img {
  overflow: hidden;
  transition-duration: 1.3s;
  transition-property: transform;
}
li button img:hover {
  transform: rotate(1turn);
}

li button:focus-visible {
  outline-color: var(--button-focus);
}





/************************/
/* PIKACHU AFBEELDINGEN */
/************************/

.images {
  display: flex;
  justify-content: center;
}

#pikachu4 {
  width: 13.75em;
}

#pikachu5 {
  width: 17.5em;
}

#pikachu8 , #pikachu10 {
  width: 13.125em;
}

#pikachu12 {
  width: 15.625em;
}

#pikachu13 {
  width: 19.375em;
}

#pikachu15 {
  width: 16.875em;
}

.images img {
  display:none;
  width: 17.5em;
  height: auto;
}

.images img.show {
  display:block;

  animation: MoveUpDown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

#pikachu16 , 
#pikachu17 , 
#pikachu18 , 
#pikachu19 , 
#pikachu20 ,
#pikachu21 ,
#pikachu22 ,
#pikachu23 , 
#pikachu24 {
  width: 18.75em;
  margin-top: 2em;

  border: var(--gif-stroke);
}





/************************/
/* ACHTERGROND MUZIEKJE */
/************************/
main section:nth-child(2) img {
  width: 4em;
  position: absolute;
  left: 1em;
  top: 1em;
}

section:nth-child(2) button {
  border: none;
  background-color: transparent;

  /*Uit de opdracht https://codepen.io/shooft/pen/eYKdyxY */
  outline-style: solid;
	outline-width:.125em;
	outline-offset: .25em;
	/* de outline is er altijd */
	/* maar standaard doorzichtig */
	outline-color: transparent;
}

section:nth-child(2) button:focus-visible {
  outline-color: var(--button-focus);
}





/*************************/
/* LANGS LOPENDE POKEMON */
/*************************/
@keyframes lucario{
	from{
    	left: 100vw;
    }
	to{
    	left: -60vw;
    }
}

main section:nth-child(4) {
  width: 100%;
}

main section:nth-child(4) img {
  position:absolute;
  bottom: -10em;
  right: -100%;
  z-index: 3;
  width: 25em;

	animation-name: lucario;
	animation-duration: 2s;
  animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
  animation-delay: 11s;
}





/****************************/
/* LANGS VLIEGENDE POKEBALL */
/****************************/

/*Bron: https://codepen.io/AreYouCereal/pen/VLeVQW */
@keyframes fly {
  0% {
    transform: rotate(0deg);
    top: 40%;
    left: 0%;
  }

50% {
  transform: rotate(180deg);
}
  100% {
    transform: rotate(360deg);
    top: 5%;
    left: 100%;
  }
}

main section:nth-child(5) img {
  position:absolute;
  bottom: 0;
  right: -50%;
  width: 6.25em;

  animation-name: fly;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 16s;
}





/******************************/
/* DITTO DIE EVEN KOMT KIJKEN */
/******************************/

@keyframes ditto {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-60px);
  }
}

main section:nth-child(6) img {
  position:absolute;
  top: 60%;
  right: 55%;
  z-index: 1;
  width: 6.25em;

  animation-name: ditto;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 20s;
  
}





/***************************/
/* LANGS VLIEGENDE POKEMON */
/***************************/

@keyframes haunter{
	from{
    	left: -60vw;
    }
	to{
    	left: 100vw;
    }
}

main section:nth-child(7) img {
  position:absolute;
  top: 10%;
  left: 100%;
  z-index: 3;
  width: 21.875em;

  animation: haunter;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-delay: 25s;
}