/*Bron: https://www.fontspace.com/pocket-monk-font-f23540*/
@font-face {
  font-family: 'pokemon';
  src: url('../fonts/pocketmonk-15ze-webfont.woff2') format('woff2'),
       url('../fonts/pocketmonk-15ze-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

html {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

body {
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}







/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-text: rgb(255, 230, 0);
  --color-text-stroke: blue;
  --color-h2: white;
  --pokedex: rgb(177, 0, 0);
  --pokedex-scherm: rgb(77, 77, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --pokedex: rgb(117, 0, 0);
    --pokedex-scherm: rgb(13, 13, 177);
  }
}





/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-text);
  -webkit-text-stroke: 0.5px var(--color-text-stroke);
  font-family: 'pokemon';
  text-align: center;
}

h2 {
  color:var(--color-text);
  -webkit-text-stroke: 0.5px var(--color-text-stroke);
  font-family: 'pokemon';
  text-align: center;
}




/**/
/* POKEDEX */
/**/

article {
  background-color: var(--pokedex);
  max-width: 34em;
  padding: 0.7em;
  margin: 0 auto;
  
  position: fixed;
  bottom: 0.7em;
  right: 0.5em;
  left: 0.5em;
  justify-content: center;

  box-shadow:
    inset -.10em -.10em .25em rgb(102 102 102),
    inset .10em .10em .25em rgb(255 255 255),
    0.8em 0.8em 0.6em rgb(0 0 0 / .5);
}

article section {
  max-width: 30em;
  margin: 0 auto;
  background-color: var(--pokedex-scherm);
  box-shadow:
    inset -.15em -.15em .1em rgb(51 58 64),
    inset .15em .15em .1em rgb(51 58 64);
  justify-content: center;
}

ol {
  display: grid;
	grid-template-columns: repeat(auto-fit, 6em);
  list-style: none;
  justify-content: center;
  padding: 0.3em;
  gap: 0.6em;
  
  overflow-y: scroll;
  height: 15em;
}

/*Bron: https://blog.hubspot.com/website/hide-scrollbar-css#:~:text=To%20hide%20the%20scrollbar%20and%20disable%20scrolling%2C%20we%20can%20use,page)%20or%20a%20container%20element.*/
ol::-webkit-scrollbar {
  display: none;
}

li {
  width: 96px;
}

li img {
  height: 6em;
}

li button img {
  height: 6em;
  animation: pokeball;
}

li p {
  text-align: center;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  font-family: 'pokemon';
  font-size: x-large;
  color:var(--color-text);
  -webkit-text-stroke: 1px var(--color-text-stroke);
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

button img {
  overflow: hidden;
  transition-duration: 1.3s;
  transition-property: transform;
}
button img:hover {
  transform: rotate(1turn);
}



/**/
/* PIKACHU AFBEELDINGEN */
/**/

.images {
  display: flex;
  justify-content: center;
}

#pikachu4 {
  width: 220px;
}

#pikachu5 {
  width: 280px;
}

#pikachu8 , #pikachu10 {
  width: 210px;
}

#pikachu12 {
  width: 250px;
}

#pikachu13 {
  width: 310px;
}

#pikachu15 {
  width: 270px;
}

.images img {
  display:none;
  width: 280px;
  height: auto;
}

.images img.show {
  display:block;
}

/*animation: MoveUpDown 1s linear infinite;*/

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 100px;
  }
}

#pikachu16 , 
#pikachu17 , 
#pikachu18 , 
#pikachu19 , 
#pikachu20 ,
#pikachu21 ,
#pikachu22 ,
#pikachu23 , 
#pikachu24 {
  width: 300px;
  margin-top: 2em;
  border: 0.3em solid black;
}





/**/
/* LANGS LOPENDE POKEMON */
/**/
@keyframes lucario{
	from{
    	margin-left: -20vw;
    }
	to{
    	margin-left: 80vw;
    }
}

main section:nth-child(3) img {
	animation-name: lucario;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}